<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>GetShitDone</title>
</head>
<body>
    <div class="navBar">
        <div class="left">
            <h2>GetShitDone</h2>
        </div>
        <div class="right">
            <a href="toDoList" class="toDoList">Todo-list</a>
            <a href="../views/loggInn.ejs" class="loggInn">Logg inn</a>
        </div>
    </div>
    <div class="content">
        <h1 class="iyf">The Ultimate to-do-list app</h1>
        <h1 class="iyfB">Get Shit Done Today!</h1>
        <h2 class="iyfs">Login to start using the app</h2>
    </div>
</body>
</html>